### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
auto-save-list
tramp
.\#*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

Pipfile.lock